<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Three</title>
    <link rel="icon" href="resources/favicon.svg" type="image/svg+xml">

</head>
<body>
    <!-- Custom Banner Image -->
    <img src="./resources/page-three.svg" alt="SVG Animation">

    <!-- Navigation Bar -->
    <nav class="menu">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="./two.html">Page Two</a></li>
            <li><a href="./views/three.html">Page Three</a></li>
        </ul>
    </nav>

    <!-- Heading Level 1 -->
    <h1>SVG Animation is Easy!</h1>

</body>
</html>

